.clients {
    background: #FFECEE;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;

    > .container  {
        max-width: 1440px;
        padding: 0 55px;
        width: 100%;
        margin: 0 auto;
    }

    .clients__info {
        padding-top: 140px;
        max-width: 325px;
        width: 100%;

        .clients__count {
            font-family: $font-family-black;
            font-size: 40px;
            line-height: 40px;
            text-transform: uppercase;
            margin-bottom: 24px;
        }

        .clients__description {
            left: 55px;
            font-family: $font-family-standart;
            font-size: 16px;
            line-height: 26px;
            color: #643C5A;
            opacity: 0.5;
            margin-bottom: 20px;
        }

        .clients__link {
            font-family: $font-family-black;
            font-size: 12px;
            line-height: 26px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: $red;
            padding: 10px 0;
        }
    }

    .clients__grid {
        width: 100%;
        height: 100%;
        padding: 70px 225px 0 130px;

        .grid {
            width: 100%;
            height: 100%;
            overflow-y: scroll;

            .scroll-wrapper {
                display: grid;
                grid-gap: 10px;
                grid-template-columns: repeat(3,1fr);
                grid-column-gap: 30px;
                grid-row-gap: 47px;
                grid-auto-rows: 260px;

                .client__elem {
                    position: relative;
                    width: 100%;
                    height: auto;

                    .client__image {
                        width: 100%;
                        max-height: 260px;
                        border-radius: 5px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center center;
                        }

                    }

                    .client__name {
                        font-family: $font-family-standart;
                        font-size: 16px;
                        line-height: 17px;
                        color: #383030;
                        margin-top: 12px;
                    }
                    
                }
                
            }

        }

    }

}