.clients {
    background: #FFECEE;
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;

    .container  {
        max-width: 1330px;
        width: 100%;
        margin: 0 auto;
    }

    .clients__info {
        padding-top: 140px;
        max-width: 325px;
        width: 100%;

        .clients__count {
            font-family: $font-family-black;
            font-size: 40px;
            line-height: 40px;
            text-transform: uppercase;
            margin-bottom: 24px;
        }

        .clients__description {
            left: 55px;
            font-family: $font-family-standart;
            font-size: 16px;
            line-height: 26px;
            color: #643C5A;
            opacity: 0.5;
            margin-bottom: 20px;
        }

        .clients__link {
            font-family: $font-family-black;
            font-size: 12px;
            line-height: 26px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: $red;
            padding: 10px 0;
        }
    }

    .clients__grid {
        width: 100%;
        height: 100%;
        padding: 70px 225px 0 130px;

        .grid {
            width: 100%;
            height: 100%;
            overflow-y: scroll;

            .scroll-wrapper {
                display: flex;
                flex-flow: column wrap;

                .client__elem {
                    position: relative;
                    width: 33%;
                    height: 200px;
                    margin-bottom: 20px;
                    padding-right: 10px;

                    &:nth-child(2n) {
                        height: 250px;
                    }

                    .client__image {
                        background-color: #643C5A;
                        width: 100%;
                        height: 100%;
                    }

                    .client__name {
                        position: absolute;
                        z-index: 1;
                        color: #fff;
                    }
                    
                }
                
            }

        }

    }

}