.intro {

    background-color: #170119;

    > .container {
        max-width: 1440px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .background__wrapper {
        position: relative;
        width: inherit;
        height: inherit;

        .cover, .img__layers {
            width: inherit;
            height: inherit;
        }

        .cover {
            position: absolute;
            left: 0;
            top: 0;
            background: radial-gradient(48.18% 24.84% at 50% 50%, #2A0227 0%, #170119 100%);
        }

        .img__layers {
            position: absolute;
            max-height: 800px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            > div {
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .focus_ {

                &_purple {
                    left: 735px;
                    top: 180px;
                    width: 120px;
                    height: 125px;
                    background-image: url(../../../assets/img/main-focus-purple.png);

                    animation-name: up-down;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;
                }

                &_headphone  {
                    left: 200px;
                    top: 100px;
                    width: 200px;
                    height: 240px;
                    background-image: url(../../../assets/img/main-headphone-purple.png);

                    animation-name: headphone;
                    animation-duration: 9s;
                    animation-iteration-count: infinite;
                }

                &_circle-red {
                    width: 44px;
                    height: 44px;
                    left: 160px;
                    top: 195px;
                    background-image: url(../../../assets/img/main-circle.png);

                    animation-name: up-down;
                    animation-duration: 9s;
                    animation-iteration-count: infinite;
                }

                &_camera {
                    width: 325px;
                    height: 290px;
                    left: 50px;
                    bottom: 75px;
                    background-image: url(../../../assets/img/main-camera.png);

                    animation-name: camera;
                    animation-duration: 9s;
                    animation-iteration-count: infinite;
                }

                &_note {
                    width: 140px;
                    height: 120px;
                    left: 325px;
                    bottom: 50px;
                    background-image: url(../../../assets/img/main-note.png);
                    animation-name: note;
                    animation-duration: 10s;
                    animation-iteration-count: infinite;
                }

                &_heart {
                    width: 100px;
                    height: 100px;
                    right: 465px;
                    bottom: 120px;
                    background-image: url(../../../assets/img/main-heart-purple.png);

                    animation-name: heart;
                    animation-duration: 9s;
                    animation-iteration-count: infinite;
                }

                &_action {
                    right: 135px;
                    bottom: 150px;
                    width: 270px;
                    height: 295px;
                    background-image: url(../../../assets/img/main-action.png);

                    animation-name: action;
                    animation-duration: 9s;
                    animation-iteration-count: infinite;
                }

                &_donat-red {
                    right: 110px;
                    bottom: 40px;
                    width: 190px;
                    height: 130px;
                    background-image: url(../../../assets/img/main-focus.png);

                    animation-name: circle;
                    animation-duration: 9s;
                    animation-iteration-count: infinite;
                }

                &_dot-red {
                    right: 95px;
                    top: 325px;
                    width: 60px;
                    height: 60px;
                    background-image: url(../../../assets/img/red-dot.png);
                    animation-name: camera;
                    animation-duration: 9s;
                    animation-iteration-count: infinite;


                }

                &_youtube {
                    right: 205px;
                    top: 25px;
                    width: 300px;
                    height: 245px;
                    background-image: url(../../../assets/img/main-youtube.png);

                    animation-name: youtube;
                    animation-duration: 9s;
                    animation-iteration-count: infinite;
                }

            }

        }

    }

    .content__wrapper {
        position: absolute;
        width: inherit;
        height: inherit;
        left: 0;
        top: 0;
        z-index: 2;

        .container {
            position: relative;
            max-width: 1100px;
            width: 100%;
            height: 100%;
            margin: 0 auto;

            .text__content {
                text-align: center;
                padding-top: 250px;

                .text__author {
                    font-family: $font-family-standart;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 13px;
                    text-transform: uppercase;
                    color: #F9A608;
                }

                .text__intro {
                    font-family: $font-family-black;
                    font-size: 170px;
                    text-transform: uppercase;
                    line-height: 175px;
                    color: #FFEFF6;
                }

                .text__img-foryou {
                    position: relative;
                    top: -150px;
                    left: 20px;
                }



            }
            #container {
                perspective: 100px;

            }
            #inner {
                transition: transform 0.3s;
            }
            #floatingBox {
                transition: transform 0.3s;
                background-size: cover;
                background-repeat: no-repeat;
            }
            #second-floating-box {
                transition: transform 0.3s;
                background-size: cover;
                background-repeat: no-repeat;
            }


            .viewers__wrapper {
                position: absolute;
                bottom: 55px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;

                .viewers__content {
                    display: flex;
                    flex-flow: column nowrap;
                    text-align: center;

                    .viewers__title {
                        font-family: $font-family-standart;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 15px;
                        color: #643C5A;
                        margin-bottom: 10px;
                    }

                    .viewers__count {
                        font-family: $font-family-standart;
                        font-weight: bold;
                        font-size: 30px;
                        line-height: 33px;
                        text-transform: uppercase;
                        color: #F6F6F6;
                        margin-bottom: 10px;
                    }

                    .viewers__name {
                        font-family: $font-family-standart;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 15px;
                        text-transform: uppercase;
                        color: #F6F6F6;
                    }

                }

            }

        }

    }

}

@media screen and (min-width: 1600px) {

    .intro .content__wrapper .container .text__content {
        padding-top: 32vh;
    }
    
}

@media screen and (max-width: 1270px) {

    .intro {

        .background__wrapper {
            .img__layers {

                .focus_ {

                    &_purple {
                        left: 50%;
                    }

                    &_headphone {
                        left: 5%;
                        top: 18%;
                    }

                    &_circle-red {
                        left: 1%;
                        top: 33%;
                    }

                    &_camera {
                        bottom: 5%;
                        left: 1%;
                    }

                    &_note {
                        bottom: 5%;
                        left: 25%;
                    }

                    &_heart {
                        bottom: 20%;
                        right: 30%;
                    }

                    &_action {
                        right: 0%;
                    }

                    &_donat-red {
                        bottom: 5%;
                        right: 10%;
                    }

                    &_dot-red {
                        right: 2%;
                        top: 35%;
                    }

                    &_youtube {
                        right: 10%;
                        top: 7%;
                    }

                }

            }
        }

        .content__wrapper {
            .container {
                .text__content {

                    .text__intro {
                        font-size: 150px;
                        line-height: 160px;
                    }

                    .text__img-foryou {
                        top: -130px;
                        max-width: 620px;
                    }

                }
            }
        }

    }

}

@media screen and (min-height: 810px) {

    .intro {
        .content__wrapper {
            .container {
                .text__content {
                    padding-top: 38vh;
                }
            }
        }
    }

}

@media screen and (max-width: 1000px) {

    .intro {

        .background__wrapper {
            .img__layers {
                z-index: 3;

                .focus_ {

                    &_purple {
                        top: 25%;
                        width: 90px;
                        height: 85px;
                        left: 53%;
                    }

                    &_headphone {
                        width: 140px;
                        height: 180px;
                        top: 26%;
                        left: 11%;
                        animation-name: headphone-tablet;
                    }

                    &_camera {
                        width: 220px;
                        height: 220px;
                        bottom: 10%;
                        animation-name: camera-tablet;

                    }

                    &_note {
                        width: 100px;
                        height: 100px;
                        bottom: 8%;
                        left: 21%;

                    }

                    &_heart {
                        width: 80px;
                        height: 80px;
                        bottom: 20%;
                        right: 29%
                    }

                    &_action {
                        width: 180px;
                        height: 200px;
                        bottom: 25%;
                        right: 8%;
                    }

                    &_donat-red {
                        width: 100px;
                        height: 90px;
                        bottom: 17%;
                        right: 8%;
                    }

                    &_youtube {
                        width: 200px;
                        height: 180px;
                        top: 16%;
                        right: 13%;
                    }

                }

            }
        }

        .content__wrapper {
            .container {
                .text__content {
                    padding-top: 38vh;

                    .text__intro {
                        font-size: 13vw;
                        line-height: 16vw;
                    }

                    .text__img-foryou {
                        max-width: 55vw;
                        top: -13vw;
                    }

                }
            }
        }

    }

}

@media screen and (min-width: 768px) and (min-height: 1000px) {

    .intro {

        .background__wrapper {
            .img__layers {
                z-index: 3;

                .focus_ {

                    &_purple {
                        top: 20%;
                        width: 90px;
                        height: 85px;
                        left: 55%;
                    }

                    &_headphone {
                        width: 140px;
                        height: 180px;
                        top: 21%;
                        left: 8%;
                    }

                    &_camera {
                        width: 190px;
                        height: 190px;
                        bottom: 26%;
                    }

                    &_note {
                        width: 100px;
                        height: 100px;
                        bottom: 17%;
                        left: 27%;

                    }

                    &_heart {
                        width: 80px;
                        height: 80px;
                        bottom: 20%;
                        right: 29%
                    }

                    &_action {
                        width: 180px;
                        height: 200px;
                        bottom: 31%;
                        right: 4%;
                    }

                    &_donat-red {
                        width: 100px;
                        height: 90px;
                        bottom: 17%;
                        right: 8%;
                    }

                    &_youtube {
                        width: 200px;
                        height: 180px;
                        top: 0;
                        right: 13%;
                    }
                    &_circle-red {
                        left: 3%;
                        top: 28%;
                    }

                }

            }
        }

        .content__wrapper {
            .container {
                .text__content {
                    padding-top: 38vh;

                    .text__intro {
                        font-size: 13vw;
                        line-height: 16vw;
                    }

                    .text__img-foryou {
                        max-width: 55vw;
                        top: -13vw;
                    }

                }
            }
        }

    }

}

@media screen and (max-width: 640px) {

    .intro {
        .background__wrapper {
            .img__layers {
                .focus_ {

                    &_purple {
                        top: 30%;
                        width: 90px;
                        height: 85px;
                        left: 55%;
                    }

                    &_headphone {
                        width: 140px;
                        height: 180px;
                        top: 28%;
                        left: 7%;
                    }

                    &_camera {
                        width: 180px;
                        height: 180px;
                        bottom: 17%;
                    }

                    &_note {
                        width: 80px;
                        height: 80px;
                        bottom: 18%;
                        left: 33%;

                    }

                    &_heart {
                        width: 80px;
                        height: 80px;
                        bottom: 20%;
                        right: 29%
                    }

                    &_action {
                        width: 160px;
                        height: 180px;
                        bottom: 27%;
                        right: 1%;
                        animation-name: action-mobile;
                    }

                    &_donat-red {
                        width: 100px;
                        height: 90px;
                        bottom: 17%;
                        right: 8%;
                    }

                    &_youtube {
                        width: 200px;
                        height: 180px;
                        top: 10%;
                        right: 10%;
                    }

                }
            }
        }
        .content__wrapper {
            .container {
                .text__content {
                    padding-top: 43vh;
                }
            }
        }
    }

}

@media screen and (max-width: 420px) {
    .intro {
        .background__wrapper {
            .img__layers {
                .focus_ {

                    &_purple {
                        width: 60px;
                        height: 60px;
                        left: 55%;
                    }

                    &_headphone {
                        width: 100px;
                        height: 100px;
                        top: 35%;
                        left: 5%;
                    }

                    &_camera {
                        width: 110px;
                        height: 110px;
                        bottom: 31%;
                    }

                    &_note {
                        width: 60px;
                        height: 60px;
                        bottom: 24%;
                        left: 25%;

                    }

                    &_heart {
                        width: 50px;
                        height: 50px;
                        bottom: 30%;
                        right: 29%;
                    }

                    &_action {
                        width: 90px;
                        height: 95px;
                        bottom: 36%;
                        right: 4%
                    }

                    &_donat-red {
                        width: 60px;
                        height: 60px;
                        bottom: 25%;
                        right: 8%;
                    }

                    &_youtube {
                        width: 125px;
                        height: 125px;
                        top: 14%;
                        right: 10%;
                    }
                    &_circle-red {
                        left: 5%;
                        top: 25%;
                        width: 24px;
                        height: 24px;
                    }

                }
            }
        }
        .content__wrapper {
            .container {
                .text__content {
                    padding-top: 43vh;
                }

                .viewers__wrapper {
                    .viewers__content {
                        .viewers__count {
                            font-size: 26px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 355px) {
    .intro {
        .background__wrapper {
            .img__layers {
                .focus_ {

                    &_purple {
                        width: 60px;
                        height: 60px;
                        left: 55%;
                    }

                    &_headphone {
                        width: 80px;
                        height: 85px;
                        top: 35%;
                        left: 5%;
                    }

                    &_camera {
                        width: 90px;
                        height: 90px;
                        bottom: 31%;
                    }

                    &_note {
                        width: 50px;
                        height: 50px;
                        bottom: 26%;
                        left: 27%;

                    }

                    &_heart {
                        width: 50px;
                        height: 50px;
                        bottom: 30%;
                        right: 29%;
                        animation-name: heart-mobile;
                    }

                    &_action {
                        width: 80px;
                        height: 85px;
                        bottom: 36%;
                        right: 4%
                    }

                    &_donat-red {
                        width: 50px;
                        height: 50px;
                        bottom: 25%;
                        right: 8%;
                    }

                    &_youtube {
                        width: 100px;
                        height: 100px;
                        top: 14%;
                        right: 10%;
                    }
                    &_circle-red {
                        left: 5%;
                        top: 25%;
                        width: 24px;
                        height: 24px;
                    }

                }
            }
        }
        .content__wrapper {
            .container {
                .text__content {
                    padding-top: 43vh;
                }

                .viewers__wrapper {
                    .viewers__content {
                        .viewers__count {
                            font-size: 22px;
                            line-height: 18px;
                        }
                        .viewers__name {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

