.intro {
    background-color: #170119;

    > .container {
        max-width: 1440px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .background__wrapper {
        position: relative;
        width: inherit;
        height: inherit;

        .cover, .img__layers {
            width: inherit;
            height: inherit;
        }

        .cover {
            position: absolute;
            left: 0;
            top: 0;
            background: radial-gradient(48.18% 24.84% at 50% 50%, #2A0227 0%, #170119 100%);
        }

        .img__layers {
            position: absolute;
            max-height: 800px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            > div {
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .focus_ {

                &_purple {
                    left: 735px;
                    top: 114px;
                    width: 120px;
                    height: 125px;
                    background-image: url(../../../assets/img/main-focus-purple.png);
                }

                &_headphone  {
                    left: 200px;
                    top: 100px;
                    width: 200px;
                    height: 240px;
                    background-image: url(../../../assets/img/main-headphone-purple.png);
                }

                &_circle-red {
                    width: 44px;
                    height: 44px;
                    left: 160px;
                    top: 195px;
                    background-image: url(../../../assets/img/main-circle.png);
                }

                &_camera {
                    width: 325px;
                    height: 290px;
                    left: 50px;
                    bottom: 75px;
                    background-image: url(../../../assets/img/main-camera.png);
                }

                &_note {
                    width: 140px;
                    height: 120px;
                    left: 325px;
                    bottom: 50px;
                    background-image: url(../../../assets/img/main-note.png);
                }

                &_heart {
                    width: 100px;
                    height: 100px;
                    right: 465px;
                    bottom: 120px;
                    background-image: url(../../../assets/img/main-heart-purple.png);
                }

                &_action {
                    right: 135px;
                    bottom: 150px;
                    width: 270px;
                    height: 295px;
                    background-image: url(../../../assets/img/main-action.png);
                }

                &_donat-red {
                    right: 110px;
                    bottom: 90px;
                    width: 190px;
                    height: 130px;
                    background-image: url(../../../assets/img/main-focus.png);
                }

                &_dot-red {
                    right: 95px;
                    top: 325px;
                    width: 60px;
                    height: 60px;
                    background-image: url(../../../assets/img/red-dot.png);
                }

                &_youtube {
                    right: 205px;
                    top: 25px;
                    width: 300px;
                    height: 245px;
                    background-image: url(../../../assets/img/main-youtube.png);
                }

            }

        }

    }

    .content__wrapper {
        position: absolute;
        width: inherit;
        height: inherit;
        left: 0;
        top: 0;
        z-index: 2;

        .container {
            position: relative;
            max-width: 1100px;
            width: 100%;
            height: 100%;
            margin: 0 auto;

            .text__content {
                text-align: center;
                padding-top: 250px;

                .text__author {
                    font-family: $font-family-standart;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 13px;
                    text-transform: uppercase;
                    color: #F9A608;
                }

                .text__intro {
                    font-family: $font-family-black;
                    font-size: 170px;
                    text-transform: uppercase;
                    line-height: 175px;
                    color: #FFEFF6;
                }

                .text__img-foryou {
                    position: relative;
                    top: -150px;
                    left: 20px;
                }

            }

            .viewers__wrapper {
                position: absolute;
                bottom: 55px;
                left: 50%;
                transform: translateX(-50%);

                .viewers__content {
                    display: flex;
                    flex-flow: column nowrap;
                    text-align: center;

                    .viewers__title {
                        font-family: $font-family-standart;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 15px;
                        color: #643C5A;
                        margin-bottom: 10px;
                    }

                    .viewers__count {
                        font-family: $font-family-standart;
                        font-weight: bold;
                        font-size: 30px;
                        line-height: 33px;
                        text-transform: uppercase;
                        color: #F6F6F6;
                        margin-bottom: 10px;
                    }

                    .viewers__name {
                        font-family: $font-family-standart;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 15px;
                        text-transform: uppercase;
                        color: #F6F6F6;
                    }

                }

            }

        }

    }

}

@media screen and (min-width: 1600px) {

    .intro .content__wrapper .container .text__content {
        padding-top: 32vh;
    }
    
}

@media screen and (max-width: 1270px) {

    .intro {

        .background__wrapper {
            .img__layers {

                .focus_ {

                    &_purple {
                        left: 50%;
                    }

                    &_headphone {
                        left: 5%;
                        top: 18%;
                    }

                    &_circle-red {
                        left: 1%;
                        top: 33%;
                    }

                    &_camera {
                        bottom: 5%;
                        left: 1%;
                    }

                    &_note {
                        bottom: 5%;
                        left: 25%;
                    }

                    &_heart {
                        bottom: 20%;
                        right: 30%;
                    }

                    &_action {
                        right: 0%;
                    }

                    &_donat-red {
                        bottom: 5%;
                        right: 10%;
                    }

                    &_dot-red {
                        right: 2%;
                        top: 35%;
                    }

                    &_youtube {
                        right: 10%;
                        top: 7%;
                    }

                }

            }
        }

        .content__wrapper {
            .container {
                .text__content {

                    .text__intro {
                        font-size: 150px;
                        line-height: 160px;
                    }

                    .text__img-foryou {
                        top: -130px;
                        max-width: 620px;
                    }

                }
            }
        }
    }

}