.main__content {
    .intro__title {
        position: absolute;
        top: 22%;
        left: 25%;
        font-family: $font-family-black;
        font-size: 170px;
        text-transform: uppercase;
        font-weight: normal;
        line-height: 185px;
        text-align: center;

        color: #FFEFF6;
        z-index: 3;
    }
    .intro__subtitle {
        position: absolute;
        top: 381px;
        left: 32%;
        z-index: 4;
    }
    .author {
        position: absolute;
        top: 34%;
        left: 48%;

        font-family: $font-family-standart;
        font-weight: 700;
        font-size: 12px;
        line-height: 13px;
        text-transform: uppercase;

        color: #F9A608;
    }

    .img__layers {
        .youtube__img {
            position: absolute;
            width: 100%;
            height: 100%;
            max-width: 206px;
            max-height: 206px;
            left: 64%;
            top: 54px;


        }

        .focus__purple {
            position: absolute;
            top: 20%;
            left: 53%;
            width: 100%;
            height: 100%;
            max-width: 110px;
            max-height: 110px;

            background: url(../../../assets/img/main-focus-purple.png) no-repeat;
            mix-blend-mode: normal;
            opacity: 0.78;
            transform: rotate(4deg);
            filter: blur(2.5914px);
        }
        .focus__headphone  {
            position: absolute;
            left: 23%;
            top: 20%;

            width: 100%;
            height: 100%;
            max-width: 186px;
            max-height: 207px;

            background: url(../../../assets/img/main-headphone-purple.png) no-repeat;
            box-shadow: -15px 10px 20px rgba(20, 4, 24, 0.400514);
            z-index: 4;
        }
        .focus__circle-red {
            position: absolute;
            width: 42px;
            height: 42px;
            top: 30%;
            left: 18%;

            background: url(../../../assets/img/main-circle.png) no-repeat;
            mix-blend-mode: normal;
            opacity: 0.48;
            filter: blur(2.5914px);
            z-index: 4;
        }
        .focus__camera {
            position: absolute;
            width: 272px;
            height: 262px;
            left: 16%;
            top: 59%;

            background: url(../../../assets/img/main-camera.png) no-repeat;
            box-shadow: -15px 10px 20px rgba(20, 4, 24, 0.38833);
            z-index: 6;
        }
        .focus__note {
            position: absolute;
            width: 120px;
            height: 104px;
            left: 30%;
            top: 80%;

            background: url(../../../assets/img/main-note.png) no-repeat;
            box-shadow: -24px -10px 20px rgba(97, 9, 8, 0.174088);
            z-index: 7;
        }
        .focus__action {
            position: absolute;
            left: 67%;
            top: 52%;

            width: 280px;
            height: 295px;

            background: url(../../../assets/img/main-action.png) no-repeat;
            z-index: 2;

        }
        .focus__donat-red {
            position: absolute;
            left: 74%;
            top: 74%;

            width: 170px;
            height: 117px;


            background: url(../../../assets/img/main-focus.png) no-repeat;
            transform: rotate(-5deg);
            z-index: 7;
        }
        .focus__heart {
            position: absolute;
            width: 100px;
            height: 100px;
            left: 58%;
            top: 72%;

            background: url(../../../assets/img/main-heart-purple.png) no-repeat;
            z-index: 7;

        }
    }

    .viewers__container {
        position: absolute;
        top: 85%;
        left: 45%;
        flex-wrap: wrap;

        .viewers__title {
            font-family: $font-family-standart;
            font-size: 14px;
            font-weight: 500;
            line-height: 15px;
            text-align: center;

            color: #643C5A;
        }
        .viewers__count {
            font-family: $font-family-standart;

            font-weight: bold;
            font-size: 30px;
            line-height: 33px;


            text-transform: uppercase;

            color: #F6F6F6;
        }
        .viewers__name {
            font-family: $font-family-standart;
            text-align: center;

            font-weight: 500;
            font-size: 14px;
            line-height: 15px;
            text-transform: uppercase;

            color: #F6F6F6;
        }
    }
}