.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2000;


    .preloader__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #170119;
    }

    > .container {
        max-width: 1440px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .background__wrapper {
        position: relative;
        width: inherit;
        height: inherit;

        .cover {
            width: 100vw;
            height: 100vh;
            position: absolute;
            left: 0;
            top: 0;
            background: radial-gradient(48.18% 24.84% at 50% 50%, #2A0227 0%, #170119 100%);
        }

        .img__layer {
            position: absolute;
            max-height: 800px;
            top: 100px;
            left: 0;
            z-index: 1;
            height: inherit;
            width: 100%;

            > div {
                position: absolute;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;

                &.active {
                    opacity: 1;
                }

            }

            .headphone-preloader {
                top: 24%;
                left: 41%;
                width: 100%;
                height: 100%;
                max-width: 285px;
                max-height: 300px;
                z-index: 1;
                opacity: 0;

                img {
                    width: 100%;
                }

            }

            .star-preloader {
                top: 24%;
                left: 38%;
                width: 100%;
                height: 100%;
                max-width: 375px;
                max-height: 375px;
                z-index: 1;
                opacity: 0;

                img  {
                    width: 100%;
                }
            }

            .camera-preloader {
                top: 23%;
                left: 38%;
                width: 100%;
                height: 100%;
                max-width: 325px;
                max-height: 325px;
                opacity: 0;
                img {
                    width: 100%;
                }
            }


        }
        .count-preloader {
            position: absolute;
            top: 22%;
            left: 50%;
            width: auto;
            height: 100%;
            max-width: 750px;
            max-height: 400px;
            transform: translateX(-50%);
            .counter {
                font-family: $font-family-black;
                font-size: 360px;
                color: rgba(100, 60, 90, 0.1);
                font-weight: 700;
            }
        }


    }

    .preloader__text-wrapper {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 81%;
        left: 40%;
        max-width: 350px;
        max-height: 200px;

        .preloader-text {
            font-family: $font-family-standart;
            width: 100%;
            text-align: center;
            font-size: 14px;
            color: #F9A608;
            z-index: 10;
            text-transform: uppercase;
            font-weight: 700;
        }

    }

}

@media screen and (max-width: 1000px) {
    .preloader {
        position: relative;
        background-color: #170119;
        width: 100%;
        height: 100vh;
        > .container {
            max-width: 1440px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }

        .background__wrapper {
            position: relative;
            width: inherit;
            height: inherit;

            .cover {
                width: inherit;
                height: inherit;
                position: absolute;
                left: 0;
                top: 0;
                background: radial-gradient(48.18% 24.84% at 50% 50%, #2A0227 0%, #170119 100%);
            }
            .img__layer {
                position: absolute;
                max-height: 800px;
                top: 100px;
                left: 0;
                z-index: 1;
                height: inherit;
                width: 100%;

                > div {
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .headphone-preloader {
                    top: 31%;
                    left: 32%;
                    width: 100%;
                    height: 100%;
                    max-width: 240px;
                    max-height: 200px;
                }
                .star-preloader {
                    top: 35%;
                    left: 31%;
                    width: 100%;
                    height: 100%;
                    max-width: 265px;
                    max-height: 260px;
                    z-index: 1;
                    opacity: 0;
                }
                .camera-preloader {
                    top: 35%;
                    left: 29%;
                    width: 100%;
                    height: 100%;
                    max-width: 240px;
                    max-height: 240px;;
                    opacity: 0;
                }

            }
            .count-preloader {
                top: 35%;
                left: 48%;
                width: 100%;
                height: 100%;
                max-width: 417px;
                max-height: 400px;
                .counter {
                    font-size: 210px;
                }

            }


        }
        .preloader__text-wrapper {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 65%;
            left: 26%;
            max-width: 350px;
            max-height: 200px;
            .preloader-text {
                font-family: $font-family-standart;
                width: 100%;
                text-align: center;
                font-size: 15px;
                color: #F9A608;
                z-index: 10;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .preloader {
        position: relative;
        background-color: #170119;
        width: 100%;
        height: 100vh;
        > .container {
            max-width: 700px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }

        .background__wrapper {
            position: relative;
            width: inherit;
            height: inherit;

            .cover {
                width: inherit;
                height: inherit;
                position: absolute;
                left: 0;
                top: 0;
                background: radial-gradient(48.18% 24.84% at 50% 50%, #2A0227 0%, #170119 100%);
            }
            .img__layer {
                position: absolute;
                max-height: 450px;
                top: 100px;
                left: 0;
                z-index: 1;
                height: inherit;
                width: 100%;

                > div {
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .headphone-preloader {
                    top: 42%;
                    left: 32%;
                    width: 100%;
                    height: 100%;
                    max-width: 200px;
                    max-height: 200px;
                    img {
                        width: 100%;
                    }
                }
                .star-preloader {
                    top: 45%;
                    left: 33%;
                    width: 100%;
                    height: 100%;
                    max-width: 215px;
                    max-height: 200px;
                    z-index: 1;
                    opacity: 0;
                }
                .camera-preloader {
                    top: 48%;
                    left: 33%;
                    width: 100%;
                    height: 100%;
                    max-width: 180px;
                    max-height: 180px;
                    opacity: 0;
                }

            }
            .count-preloader {
                top: 30%;
                left: 53%;
                width: 100%;
                height: 100%;
                max-width: 417px;
                max-height: 400px;
                .counter {
                    font-size: 190px;
                }

            }


        }
        .preloader__text-wrapper {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 63%;
            left: 22%;
            max-width: 350px;
            max-height: 200px;
            .preloader-text {
                font-family: $font-family-standart;
                width: 100%;
                text-align: center;
                font-size: 15px;
                color: #F9A608;
                z-index: 10;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .preloader {
        position: relative;
        background-color: #170119;
        width: 100%;
        height: 100vh;
        > .container {
            max-width: 1440px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }

        .background__wrapper {
            position: relative;
            width: inherit;
            height: inherit;

            .cover {
                width: inherit;
                height: inherit;
                position: absolute;
                left: 0;
                top: 0;
                background: radial-gradient(48.18% 24.84% at 50% 50%, #2A0227 0%, #170119 100%);
            }
            .img__layer {
                position: absolute;
                max-height: 800px;
                top: 100px;
                left: 0;
                z-index: 1;
                height: inherit;
                width: 100%;

                > div {
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .headphone-preloader {
                    top: 16%;
                    left: 29%;
                    width: 100%;
                    height: 100%;
                    max-width: 145px;
                    max-height: 140px;
                    img {
                        width: 100%;
                    }
                }
                .star-preloader {
                    top: 15%;
                    left: 21%;
                    width: 100%;
                    height: 100%;
                    max-width: 200px;
                    max-height: 200px;
                    z-index: 1;
                    opacity: 0;
                }
                .camera-preloader {
                    top: 14%;
                    left: 20%;
                    width: 100%;
                    height: 100%;
                    max-width: 180px;
                    max-height: 180px;
                    opacity: 0;
                }
            }
            .count-preloader {
                top: 30%;
                left: 58%;
                width: 100%;
                height: 100%;
                max-width: 300px;
                max-height: 400px;
                .counter {
                    font-size: 130px;
                }

            }
        }
        .preloader__text-wrapper {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 62%;
            left: 8%;
            max-width: 300px;
            max-height: 200px;
            .preloader-text {
                font-family: $font-family-standart;
                width: 100%;
                text-align: center;
                font-size: 14px;
                color: #F9A608;
                z-index: 10;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 460px) and (max-height: 825px) {
    .preloader {
        position: relative;
        background-color: #170119;
        width: 100%;
        height: 100vh;
        > .container {
            max-width: 1440px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }

        .background__wrapper {
            position: relative;
            width: inherit;
            height: inherit;

            .cover {
                width: inherit;
                height: inherit;
                position: absolute;
                left: 0;
                top: 0;
                background: radial-gradient(48.18% 24.84% at 50% 50%, #2A0227 0%, #170119 100%);
            }
            .img__layer {
                position: absolute;
                max-height: 800px;
                top: 100px;
                left: 0;
                z-index: 1;
                height: inherit;
                width: 100%;

                > div {
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .headphone-preloader {
                    top: 29%;
                    left: 29%;
                    width: 100%;
                    height: 100%;
                    max-width: 150px;
                    max-height: 140px;
                    img {
                        width: 100%;
                    }
                }
                .star-preloader {
                    top: 27%;
                    left: 25%;
                    width: 100%;
                    height: 100%;
                    max-width: 200px;
                    max-height: 200px;
                    z-index: 1;
                    opacity: 0;
                }
                .camera-preloader {
                    top: 27%;
                    left: 24%;
                    width: 100%;
                    height: 100%;
                    max-width: 180px;
                    max-height: 180px;
                    opacity: 0;
                }
            }
            .count-preloader {
                top: 40%;
                left: 55%;
                width: 100%;
                height: 100%;
                max-width: 300px;
                max-height: 400px;
                .counter {
                    font-size: 130px;
                }

            }
        }
        .preloader__text-wrapper {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 70%;
            left: 15%;
            max-width: 300px;
            max-height: 200px;
            .preloader-text {
                font-family: $font-family-standart;
                width: 100%;
                text-align: center;
                font-size: 14px;
                color: #F9A608;
                z-index: 10;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 375px) and (max-height: 700px) {
    .preloader {
        position: relative;
        background-color: #170119;
        width: 100%;
        height: 100vh;
        > .container {
            max-width: 1440px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }

        .background__wrapper {
            position: relative;
            width: inherit;
            height: inherit;

            .cover {
                width: inherit;
                height: inherit;
                position: absolute;
                left: 0;
                top: 0;
                background: radial-gradient(48.18% 24.84% at 50% 50%, #2A0227 0%, #170119 100%);
            }
            .img__layer {
                position: absolute;
                max-height: 800px;
                top: 100px;
                left: 0;
                z-index: 1;
                height: inherit;
                width: 100%;

                > div {
                    position: absolute;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .headphone-preloader {
                    top: 14%;
                    left: 25%;
                    width: 100%;
                    height: 100%;
                    max-width: 150px;
                    max-height: 140px;
                    img {
                        width: 100%;
                    }
                }
                .star-preloader {
                    top: 11%;
                    left: 20%;
                    width: 100%;
                    height: 100%;
                    max-width: 200px;
                    max-height: 200px;
                    z-index: 1;
                }
                .camera-preloader {
                    top: 11%;
                    left: 18%;
                    width: 100%;
                    height: 100%;
                    max-width: 180px;
                    max-height: 180px;
                    opacity: 0;
                }
            }
            .count-preloader {
                top: 30%;
                left: 55%;
                width: 100%;
                height: 100%;
                max-width: 300px;
                max-height: 400px;
                .counter {
                    font-size: 130px;
                }

            }
        }
        .preloader__text-wrapper {
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 67%;
            left:10%;
            max-width: 300px;
            max-height: 200px;
            .preloader-text {
                font-family: $font-family-standart;
                width: 100%;
                text-align: center;
                font-size: 14px;
                color: #F9A608;
                z-index: 10;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}