.team {
    background: #FFECEE;
    position: relative;

    > .container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding-top: 75px;
    }

    .title_wrapper {
        width: 100%;
        height: 100%;
        text-align: center;
        margin-bottom: 50px;

        .team__title {
            font-family: $font-family-black;
            font-size: 40px;
            line-height: 40px;
            text-transform: uppercase;
            font-style: normal;
            font-weight: normal;
        }
    }

    .content__wrapper {
        position: relative;
        width: 100%;
        padding: 0 90px;
        height: 335px;

        .swiper-container {
            height: 100%;
        }

        .nav__btn {
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 10px 5px;
            font-family: $font-family-standart;
            font-weight: bold;
            font-size: 12px;
            line-height: 13px;
            text-transform: uppercase;
            color: #161415;
            outline: none;
            opacity: 1;
            z-index: 2;
            transition: all 0.4s ease;
            cursor: pointer;
            user-select: none;

            span {
                position: relative;
                z-index: 2;
            }

            &::before {
                position: absolute;
                content: '';
                width: 55px;
                height: 55px;
                top: -40%;
                left: -5px;
                border-radius: 50%;
                opacity: 0;
                transition: all 0.3s linear;
                z-index: 1;

            }

            &:hover {
                span {
                    transition: all 0.3s linear;
                    color: #ffffff;
                }

                &::before {
                    opacity: 1;
                    background-color: $red;
                    color: #ffffff;

                }
            }


            &.swiper-button-disabled {
                opacity: 0.5;
            }

            &.swiper-button-prev {
                left: -5px;
            }

            &.swiper-button-next {
                right: 5px;
            }

        }

        .swiper-slide {
            position: relative;
            height: 100%;
            width: 263px;

            &:hover {

                .image {
                    &::after {
                        opacity: 1;
                    }
                }

                .text__wrapper {
                    opacity: 1;
                }

            }

            .image {
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: 8px;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: linear-gradient(307.1deg, rgba(177, 2, 23, 0.9) 10.23%, rgba(221, 4, 31, 0.9) 69.59%);
                    border-radius: 8px;
                    opacity: 0;
                    transition: opacity 0.4s ease;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }

            }

            .text__wrapper {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: #FFFFFF;
                text-align: center;
                opacity: 0;
                transition: opacity 0.4s ease;

                .name {
                    font-family: $font-family-black;
                    font-size: 12px;
                    line-height: 17px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }

                .position {
                    font-family: $font-family-standart;
                    font-size: 12px;
                    line-height: 13px;
                }

            }

        }

        .img__wrapper-hidden {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100vh;


            .note {
                position: absolute;
                width: 100%;
                height: 100%;
                max-width: 300px;
                max-height: 260px;
                top: 30px;
                right: 300px;
                background-image: url("../img/team/note.png");
                background-size: cover;
                background-repeat: no-repeat;
                z-index: 1;
                animation-name: teamNote;
                animation-duration: 5s;
                animation-timing-function: linear;
                animation-direction: normal;
                animation-fill-mode: both;
                animation-iteration-count: infinite;

            }

            .sphere {
                position: absolute;
                width: 100%;
                height: 100%;
                max-width: 200px;
                max-height: 160px;
                left: -110px;
                top: 220px;
                background-image: url("../img/team/sphere.png");
                background-size: cover;
                background-repeat: no-repeat;
                z-index: 1;
                animation-name: sphereAnimation;
                animation-duration: 5s;
                animation-timing-function: linear;
                animation-direction: normal;
                animation-fill-mode: both;
                animation-iteration-count: infinite;
            }

            .torus {
                position: absolute;
                width: 100%;
                height: 100%;
                max-width: 285px;
                max-height: 220px;
                top: 404px;
                right: 15px;
                animation-duration: 5s;
                animation-timing-function: linear;
                animation-direction: normal;
                animation-fill-mode: both;
                animation-name: torusAnimation;
                animation-iteration-count: infinite;
                background-image: url("../img/team/torus.png");
                background-size: cover;
                background-repeat: no-repeat;
                z-index: 1;
            }

        }

    }

    .team-bottom {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        display: flex;
        flex-flow: column nowrap;
    }

    .contact-us__wrapper {
        width: 100%;
        height: 150px;

        .link {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            background: #170119;
            text-align: center;
            transition: all 0.4s ease;

            &::before {
                content: '';
                display: block;
                width: 0;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background: linear-gradient(353.71deg, #B10217 10.23%, #DD041F 69.59%);

                transition: all 0.6s linear;

                &:hover {
                    .cursor {
                        display: none;
                    }
                }

            }

            &:hover {
                &::before {
                    background: linear-gradient(353.71deg, #B10217 10.23%, #DD041F 69.59%);
                    width: 100%;

                }

                span {
                    &::after {
                        right: -50px;
                        transform: rotate(46deg);
                    }
                }
            }
        }

        span {
            position: relative;
            font-family: $font-family-standart;
            font-size: 32px;
            line-height: 150px;
            color: #FFFFFF;

            &::after {
                content: '';
                display: block;
                width: 35px;
                height: 35px;
                background: url("../img/contact-us-arrow.svg") no-repeat center center;
                background-size: contain;
                position: absolute;
                right: -10px;
                top: 0;
                transition: all 0.6s ease;
                transform: translateX(100%);


            }

        }

    }

    .footer {
        background-color: #170119;
        width: 100%;
        height: auto;

        .container {
            max-width: 1440px;
            width: 100%;
            padding: 0 55px;
            height: 45px;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
        }

        .text {
            font-family: $font-family-standart;
            font-size: 14px;
            line-height: 26px;
            color: #FFFFFF;
        }

        .link {

            .icon {
                display: inline-block;
                vertical-align: middle;
                width: 19px;
                height: 19px;
                background-image: url("../img/NP.png");
            }

            span {
                font-family: $font-family-standart;
                font-size: 12px;
                line-height: 26px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-left: 14px;
            }

        }

    }

}

@media screen and (min-width: 1600px) {

    .team {

        > .container {
            padding-top: 14vh;
        }

    }

}

@media screen and (max-width: 1280px) {

    .team {
        > .container {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

}

@media screen and (max-width: 1100px) {

    .team {

        > .container {
            padding-top: 12vh;
        }

        .content__wrapper {
            height: 300px;

            .img__wrapper {
                .note {
                    top: -81px;
                    right: 197px;
                    width: 100%;
                    max-width: 230px;
                }
            }
        }

        .title_wrapper {
            .team__title {
                font-size: 34px;
            }
        }

    }

}


@media screen and (min-width: 768px) and (min-height: 1000px) {

    .team {
        .content__wrapper {
            .img__wrapper {
                .note {
                    right: 117px;
                }

                .torus {
                    top: 445px;
                }
            }

            .img__wrapper-hidden {
                .note {
                    max-width: 175px;
                    max-height: 190px;
                    right: 95px;
                    top: 0;
                    animation-duration: 5s;
                    animation-timing-function: linear;
                    animation-direction: normal;
                    animation-fill-mode: both;
                    animation-name: teamNoteMobile;
                    animation-iteration-count: infinite;
                }

                .sphere {
                    max-width: 135px;
                    max-height: 135px;
                }

                .torus {
                    max-width: 160px;
                    max-height: 160px;
                    top: 20px;
                    right: 15px;
                    animation-name: torusAnimationMobile;
                    animation-duration: 5s;
                    animation-timing-function: linear;
                    animation-direction: normal;
                    animation-fill-mode: both;
                }

            }


        }
    }

}

@media screen and (min-height: 810px) {

    .team {
        > .container {
            padding-top: 20vh;
        }
    }

}

@media screen and (max-width: 640px) {

    .team {
        > .container {
            padding-left: 0;
            padding-right: 0;
        }

        .content__wrapper {

            .nav__btn {

                &.swiper-button-prev {
                    left: 20px;
                }

                &.swiper-button-next {
                    right: 20px;
                }

            }

            .img__wrapper {

                .note {
                    top: -100px;
                    right: -40px;
                }

                .torus {
                    top: 20px;
                    right: 15px;
                    animation-name: torusAnimationMobile;
                    animation-duration: 5s;
                    animation-timing-function: linear;
                    animation-direction: normal;
                    animation-fill-mode: both;
                }

            }

        }

        .team-bottom {
            .contact-us__wrapper {
                span {
                    font-size: 26px;

                    &::after {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }

    }

}

@media screen and (max-width: 640px) and (max-height: 700px) {

    .team {
        .content__wrapper {
            height: 40vh;
        }
    }

}

@media screen and (max-width: 420px) {
    .team {
        > .container {
            padding-top: 16vh;
        }

        .title_wrapper {
            margin-bottom: 30px;

            .team__title {
                font-size: 26px;
            }
        }

        .content__wrapper {
            .img__wrapper {
                .note {
                    top: -53px;
                    right: 0;
                    max-width: 150px;
                }

                .sphere {
                    left: 21px;
                    max-width: 125px;
                }

                .torus {
                    top: 310px;
                    right: 15px;
                    max-width: 160px;
                }
            }

            .img__wrapper-hidden {
                .note {
                    max-width: 175px;
                    max-height: 190px;
                    right: 95px;
                    top: 0;
                }

                .sphere {
                    max-width: 135px;
                    max-height: 135px;
                }

                .torus {
                    max-width: 160px;
                    max-height: 160px;
                    top: 20px;
                    right: 15px;
                    animation-name: torusAnimationMobile;
                    animation-duration: 5s;
                    animation-timing-function: linear;
                    animation-direction: normal;
                    animation-fill-mode: both;

                }
            }
        }

        .team-bottom {
            .contact-us__wrapper {
                span {
                    font-size: 22px;
                    font-weight: 700;

                    &::after {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 420px) and (max-height: 670px) {
    .team {
        .content__wrapper {
            .img__wrapper {
                .sphere {
                    top: 230px;
                }

                .torus {
                    top: 260px;
                }
            }

            .img__wrapper-hidden {
                .note {
                    max-width: 175px;
                    max-height: 190px;
                    right: 95px;
                    top: 0;
                }

                .sphere {
                    max-width: 135px;
                    max-height: 135px;
                }

                .torus {
                    max-width: 160px;
                    max-height: 160px;
                    top: 242px;
                    right: 112px;
                }

                &.active {
                    .note {
                        transition: all 0.3s linear;
                        animation-name: teamNoteMobile;
                        animation-duration: 5s;
                    }

                    .sphere {
                        transition: all 0.3s linear;
                        animation-name: sphereAnimationMobile;
                        animation-duration: 5s;
                    }

                    .torus {
                        transition: all 0.3s linear;
                        animation-name: torusAnimationMobile;
                        animation-duration: 5s;
                    }
                }
            }

        }

        .team-bottom {
            .contact-us__wrapper {
                max-height: 120px;

                span {
                    font-size: 22px;
                    font-weight: 700;

                    &::after {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        .footer {
            .container {
                padding: 0 20px;
            }
        }

    }
}

@media screen and (min-width: 320px) and (max-width: 360px) {
    .team {
        .title_wrapper {
            margin-bottom: 20px;

            .team__title {
                font-size: 24px;
            }
        }


        .content__wrapper {
            .img__wrapper {
                .sphere {
                    top: 185px;
                }

                .torus {
                    top: 210px;
                    right: 0;
                }
            }

            .img__wrapper-hidden {
                .note {
                    max-width: 175px;
                    max-height: 190px;
                    right: 95px;
                    top: 0;
                    animation-name: teamNoteMobile;
                }

                .sphere {
                    max-width: 135px;
                    max-height: 135px;
                    animation-name: sphereAnimationMobile;
                }

                .torus {
                    max-width: 160px;
                    max-height: 160px;
                    top: 212px;
                    right: 112px;
                    animation-name: torusAnimationMobileSmall;
                }
            }
        }

        .team-bottom {
            .contact-us__wrapper {
                max-height: 120px;

                span {
                    font-size: 22px;
                    font-weight: 700;

                    &::after {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        .footer {
            .container {
                padding: 0 20px;
            }

            .text {
                font-size: 12px;
            }

            .link {
                span {
                    font-size: 10px;
                }
            }
        }


    }
}

@media screen and (min-width: 320px) and (max-width: 400px) and (max-height: 600px) {
    .team {
        .title_wrapper {
            margin-bottom: 10px;

            .team__title {
                font-size: 24px;
            }
        }


        .content__wrapper {
            max-height: 36vh;

            .img__wrapper-hidden {
                .note {
                    max-width: 175px;
                    max-height: 190px;
                    right: 95px;
                    top: 0;
                    animation-name: teamNoteMobile;
                }

                .sphere {
                    max-width: 115px;
                    max-height: 115px;
                    animation-name: sphereAnimationMobile;
                }

                .torus {
                    max-width: 140px;
                    max-height: 140px;
                    top: 212px;
                    right: 112px;
                    animation-name: torusAnimationMobileSmall;
                }
            }
        }

        .team-bottom {
            .contact-us__wrapper {
                max-height: 120px;

                span {
                    font-size: 22px;
                    font-weight: 700;

                    &::after {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }

        .footer {
            .container {
                padding: 0 20px;
            }

            .text {
                font-size: 12px;
            }

            .link {
                span {
                    font-size: 10px;
                }
            }
        }

    }
}