@import "vars";

/* Default styles */

html {
    font-size: 15px;
}

body {
    position: relative;
    margin: 0;
    font-family: $font-family-standart;
    font-size: 1rem;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a, ul, li {
    text-decoration: none;
}

/* Blocks */
@import "blocks/intro";
@import "blocks/header";
@import "blocks/main";
@import "blocks/clients";
@import "blocks/config";

/* Vendor libs */
@import "vendor/slick";
