@import "vars";

/* Default styles */

html {
    font-size: 15px;
}

body {
    position: relative;
    margin: 0;
    font-family: $font-family-standart;
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
}

section {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    cursor: none;
}

a, ul, li {
    text-decoration: none;
    cursor: none;
}

/* Blocks */
@import "blocks/intro";
@import "blocks/header";
@import "blocks/main";
@import "blocks/clients";
@import "blocks/config";
@import "blocks/team";
@import "blocks/animation";
@import "blocks/preloader";

/* Vendor libs */
@import "vendor/swiper";
